<%= form_with(model: @user, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :email %>

    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>

    <%= f.text_field :password, class: "form-control" %>
  </div>

  <%= f.hidden_field :seller_id, value: @seller.id %>

  <div class="form-group">
    <%= f.label :buyer_id %>

    <%= f.collection_select :buyer_id, Buyer.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit "Create user", class: "btn btn-block btn-outline-secondary" %>
<% end %>
