<%= form_with(model: @message, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :seller_id %>

    <%= f.collection_select :seller_id, Seller.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :buyer_id %>

    <%= f.collection_select :buyer_id, Buyer.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :item_id, value: @item.id %>

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
