<%= form_with(model: @message, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :seller_id %>

    <%= f.collection_select :seller_id, Seller.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :buyer_id, value: @buyer.id %>

  <div class="form-group">
    <%= f.label :item_id %>

    <%= f.collection_select :item_id, Item.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
